/* Variable fonts first! (normal) */
@font-face {
  font-family: "Figtree";
  src: url('@/assets/fonts/Figtree-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}

/* Variable font (italic) */
@font-face {
  font-family: "Figtree";
  src: url('@/assets/fonts/Figtree-Italic-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Fallbacks (Figtree) */
@font-face {
  font-family: "Figtree";
  src: url('@/assets/fonts/Figtree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('@/assets/fonts/Figtree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('@/assets/fonts/Figtree-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
