/* Variable fonts first! (normal) */
@font-face {
  font-family: "Noto Sans";
  src: url('@/assets/fonts/NotoSans-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}

/* Variable font (italic) */
@font-face {
  font-family: "Noto Sans";
  src: url('@/assets/fonts/NotoSans-Italic-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Variable fonts first! (normal) */
@font-face {
  font-family: "Noto Serif";
  src: url('@/assets/fonts/NotoSerif-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}

/* Variable font (italic) */
@font-face {
  font-family: "Noto Serif";
  src: url('@/assets/fonts/NotoSerif-Italic-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Fallbacks (Noto Sans) */
@font-face {
  font-family: "Noto Sans";
  src: url('@/assets/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url('@/assets/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url('@/assets/fonts/NotoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Fallbacks (Noto Serif) */
@font-face {
  font-family: "Noto Serif";
  src: url('@/assets/fonts/NotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url('@/assets/fonts/NotoSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url('@/assets/fonts/NotoSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
