@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

@layer components {
  .h1 {
    @apply text-4xl;
  }
}

@layer utilities {
  .clip-none {
    clip-path: none;
  }
  .clip-wave-bottom {
    clip-path: url(#clipWaveBottom);
  }
  .clip-wave-bottom-condensed {
    clip-path: url(#clipWaveBottomCondensed);
  }
  .clip-wave-top {
    clip-path: url(#clipWaveTop);
  }
  .clip-wave-top-condensed {
    clip-path: url(#clipWaveTopCondensed);
  }
}
